<p><a href="#A">A</a> <a href="#B">B</a> <a href="#C">C</a> <a href="#D">D</a> <a href="#E">E</a> <a href="#F">F</a> <a href="#G">G</a> <a href="#H">H</a> <a href="#I">I</a> <a href="#J">J</a> <a href="#K">K</a> <a href="#L">L</a> <a href="#M">M</a> <a href="#N">N</a> <a href="#O">O</a> <a href="#P">P</a> <a href="#Q">Q</a> <a href="#R">R</a> <a href="#S">S</a> <a href="#T">T</a> <a href="#U">U</a> <a href="#V">V</a> <a href="#W">W</a> <a href="#X">X</a> <a href="#Y">Y</a> <a href="#Z">Z</a></p>

<h2 id="A">A</h2>

<p id="Abad2018" class="bib"><cite>Abad2018</cite>
Zahra Shakeri Hossein Abad, Oliver Karras, Kurt Schneider, Ken Barker, and Mike Bauer:
"<a href="https://doi.org/10.1145/3210459.3210471">Task interruption in software development projects</a>".
<em>Proc. CEASE'18</em>, <a class="doi" href="https://doi.org/10.1145/3210459.3210471">10.1145/3210459.3210471</a>.
</p>


<p id="AlencarDaCosta2017" class="bib"><cite>AlencarDaCosta2017</cite>
Daniel Alencar da Costa, Shane McIntosh, Christoph Treude, Uirá Kulesza, and Ahmed E. Hassan:
"<a href="https://doi.org/10.1007/s10664-017-9548-7">The Impact of Rapid Release Cycles on the Integration Delay of Fixed Issues</a>".
<em>Empirical Software Engineering</em>, 23(2), 2017,
<a class="doi" href="https://doi.org/10.1007/s10664-017-9548-7">10.1007/s10664-017-9548-7</a>.
</p>


<p id="Almeida2017" class="bib"><cite>Almeida2017</cite>
Daniel A. Almeida, Gail C. Murphy, Greg Wilson, and Mike Hoye:
"<a href="https://doi.org/10.1109/icpc.2017.7">Do Software Developers Understand Open Source Licenses?</a>".
<em>Proc. ICPC'17</em>, <a class="doi" href="https://doi.org/10.1109/icpc.2017.7">10.1109/icpc.2017.7</a>.
</p>


<p id="Altadmri2015" class="bib"><cite>Altadmri2015</cite>
Amjad Altadmri and Neil C.C. Brown:
"<a href="https://doi.org/10.1145/2676723.2677258">37 Million Compilations: Investigating Novice Programming Mistakes in Large-Scale Student Data</a>".
<em>Proc. SIGCSE'15</em>, <a class="doi" href="https://doi.org/10.1145/2676723.2677258">10.1145/2676723.2677258</a>.
</p>


<p id="Aurora2019" class="bib"><cite>Aurora2019</cite>
Valerie Aurora and Mary Gardiner:
<em><a href="https://files.frameshiftconsulting.com/books/cocguide.pdf">How to Respond to Code of Conduct Reports</a></em> (Version 1.1 edition).
Frame Shift Consulting LLC, 2019, 978-1386922575.
</p>


<h2 id="B">B</h2>

<p id="Bacchelli2013" class="bib"><cite>Bacchelli2013</cite>
Alberto Bacchelli and Christian Bird:
"Expectations, Outcomes, and Challenges of Modern Code Review".
<em>Proc. ICSE'13</em>.
</p>


<p id="Barker2010" class="bib"><cite>Barker2010</cite>
Kathy Barker:
<em>At the Helm: Leading Your Laboratory</em>.
Cold Spring Harbor Laboratory, 2010, 978-0879698669.
</p>


<p id="Begel2014" class="bib"><cite>Begel2014</cite>
Andrew Begel and Thomas Zimmermann:
"<a href="https://doi.org/10.1145/2568225.2568233">Analyze This! 145 Questions for Data Scientists in Software Engineering</a>".
<em>Proc. ICSE'14</em>, <a class="doi" href="https://doi.org/10.1145/2568225.2568233">10.1145/2568225.2568233</a>.
</p>


<p id="Behroozi2020" class="bib"><cite>Behroozi2020</cite>
Mahnaz Behroozi, Shivani Shirolkar, Titus Barik, and Chris Parnin:
"<a href="https://doi.org/10.1145/3377815.3381372">Debugging Hiring: What Went Right and What Went Wrong in the Technical Interview Process</a>".
<em>Proc. ICSE'20</em>, <a class="doi" href="https://doi.org/10.1145/3377815.3381372">10.1145/3377815.3381372</a>.
</p>


<p id="Brookfield2016" class="bib"><cite>Brookfield2016</cite>
Stephen D. Brookfield and Stephen Preskill:
<em>The Discussion Book: 50 Great Ways to Get People Talking</em>.
Jossey-Bass, 2016, 978-1119049715.
</p>


<p id="Brooks1995" class="bib"><cite>Brooks1995</cite>
Frederick P. Brooks, Jr.:
<em>The Mythical Man-Month: Essays on Software Engineering</em> (anniversary edition edition).
Addison-Wesley Professional, 1995, 978-0201835953.
</p>


<p id="Brown2007" class="bib"><cite>Brown2007</cite>
Michael Jacoby Brown:
<em>Building Powerful Community Organizations: A Personal Guide to Creating Groups that Can Solve Problems and Change the World</em>.
Long Haul Press, 2007, 978-0977151806.
</p>


<p id="Brown2011" class="bib"><cite>Brown2011</cite>
Amy Brown and Greg Wilson (eds.):
<em><a href="https://aosabook.org">The Architecture of Open Source Applications: Elegance, Evolution, and a Few Fearless Hacks</a></em>.
Lulu, 2011, 978-1257638017.
</p>


<p id="Brown2012" class="bib"><cite>Brown2012</cite>
Amy Brown and Greg Wilson (eds.):
<em><a href="https://aosabook.org">The Architecture of Open Source Applications: Structure, Scale, and a Few More Fearless Hacks</a></em>.
Lulu, 2012, 978-0201103427.
</p>


<p id="Byckling2005" class="bib"><cite>Byckling2005</cite>
Pauli Byckling, Petri Gerdt, and Jorma Sajaniemi:
"<a href="https://doi.org/10.1145/1094855.1094972">Roles of Variables in Object-Oriented Programming</a>".
<em>Proc. OOPSLA'05</em>, <a class="doi" href="https://doi.org/10.1145/1094855.1094972">10.1145/1094855.1094972</a>.
</p>


<h2 id="C">C</h2>

<p id="Cherubini2007" class="bib"><cite>Cherubini2007</cite>
Mauro Cherubini, Gina Venolia, Rob DeLine, and Amy J. Ko:
"Let's Go to the Whiteboard: How and Why Software Developers Use Drawings".
<em>Proc. CHI'07</em>, <a class="doi" href="https://doi.org/10.1145/1240624.1240714">10.1145/1240624.1240714</a>.
</p>


<p id="Cohen2010" class="bib"><cite>Cohen2010</cite>
Jason Cohen:
"Modern Code Review".
In 
Andy Oram and Greg Wilson (eds.):
<em>Making Software.</em>
O'Reilly, 2010, 978-0596808327.
</p>


<h2 id="D">D</h2>
<h2 id="E">E</h2>
<h2 id="F">F</h2>

<p id="Feathers2004" class="bib"><cite>Feathers2004</cite>
Michael C. Feathers:
<em>Working Effectively with Legacy Code</em>.
Prentice-Hall, 2004, 978-0131177055.
</p>


<p id="Fogel2021" class="bib"><cite>Fogel2021</cite>
Karl Fogel:
"<a href="https://producingoss.com">Producing Open Source Software</a>".
</p>


<p id="Ford2016" class="bib"><cite>Ford2016</cite>
Denae Ford, Justin Smith, Philip J. Guo, and Chris Parnin:
"Paradise Unplugged: Identifying Barriers for Female Participation on Stack Overflow".
<em>Proc. FSE'16</em>, <a class="doi" href="https://doi.org/10.1145/2950290.2950331">10.1145/2950290.2950331</a>.
</p>


<p id="Forsgren2018" class="bib"><cite>Forsgren2018</cite>
Nicole Forsgren, Jez Humble, and Gene Kim:
<em>Accelerate: The Science of DevOps</em>.
IT Revolution Press, 2017, 978-1942788331.
</p>


<p id="Freeman1972" class="bib"><cite>Freeman1972</cite>
Jo Freeman:
"The Tyranny of Structurelessness".
<em>The Second Wave</em>, 2(1), 1972.
</p>


<p id="Fowler2018" class="bib"><cite>Fowler2018</cite>
Martin Fowler:
<em>Refactoring: Improving the Design of Existing Code</em> (2nd edition).
Addison-Wesley Professional, 2018, 978-0134757599.
</p>


<p id="Fucci2016" class="bib"><cite>Fucci2016</cite>
Davide Fucci, Giuseppe Scanniello, Simone Romano, Martin Shepperd, Boyce Sigweni, Fernando Uyaguari, Burak Turhan, Natalia Juristo, and Markku Oivo:
"<a href="https://doi.org/10.1145/2961111.2962592">An External Replication on the Effects of Test-driven Development Using a Multi-site Blind Analysis Approach</a>".
<em>Proc. ESEM'16</em>, <a class="doi" href="https://doi.org/10.1145/2961111.2962592">10.1145/2961111.2962592</a>.
</p>


<h2 id="G">G</h2>

<p id="Gomez2019" class="bib"><cite>Gomez2019</cite>
L.E. Gomez and Patrick Bernet:
"Diversity Improves Performance and Outcomes".
<em>Journal of the National Medical Association</em>, 111(4), 2019,
<a class="doi" href="https://doi.org/10.1016/j.jnma.2019.01.006">10.1016/j.jnma.2019.01.006</a>.
</p>


<p id="Gompers2018" class="bib"><cite>Gompers2018</cite>
Paul Gompers and Silpa Kovvali:
"The Other Diversity Dividend".
<em>Harvard Business Review</em>, 96(4), 2018.
</p>


<h2 id="H">H</h2>

<p id="Herraiz2010" class="bib"><cite>Herraiz2010</cite>
Israel Herraiz and Ahmed E. Hassan:
"Beyond Lines of Code: Do We Need More Complexity Metrics?".
In 
Andy Oram and Greg Wilson (eds.):
<em>Making Software.</em>
O'Reilly, 2010, 978-0596808327.
</p>


<p id="Huppenkothen2018" class="bib"><cite>Huppenkothen2018</cite>
Daniela Huppenkothen, Anthony Arendt, David W. Hogg, Karthik Ram, Jacob T. VanderPlas, and Ariel Rokem:
"Hack Weeks as a Model for Data Science Education and Collaboration".
<em>Proc. National Academy of Sciences</em>, 115(36), 2018,
<a class="doi" href="https://doi.org/10.1073/pnas.1717196115">10.1073/pnas.1717196115</a>.
</p>


<h2 id="I">I</h2>

<p id="Irving2021" class="bib"><cite>Irving2021</cite>
Damien Irving, Kate Hertweck, Luke Johnston, Joel Ostblom, Charlotte Wickham, and Greg Wilson:
<em><a href="https://merely-useful.github.io/py-rse/">Research Software Engineering with Python: Building Software that Makes Research Possible</a></em>.
CRC Press/Taylor and Francis, 2021, 978-0367698348.
</p>


<h2 id="J">J</h2>

<p id="Johnson2017" class="bib"><cite>Johnson2017</cite>
Jeff Johnson and Kate Finn:
<em>Designing User Interfaces for an Aging Population: Towards Universal Design</em>.
Morgan Kaufmann, 2017, 978-0128044674.
</p>


<h2 id="K">K</h2>

<p id="Kerievsky2004" class="bib"><cite>Kerievsky2004</cite>
Joshua Kerievsky:
<em>Refactoring to Patterns</em>.
Addison-Wesley Professional, 2004, 978-0321213358.
</p>


<p id="Kim2016" class="bib"><cite>Kim2016</cite>
Gene Kim, Patrick Debois, John Willis, and Jez Humble:
<em>The DevOps Handbook</em>.
IT Revolution Press, 2016, 978-1942788003.
</p>


<p id="Kuchner2011" class="bib"><cite>Kuchner2011</cite>
Marc J. Kuchner:
<em><a href="https://isbndb.com/book/1597269948">Marketing for Scientists: How to Shine in Tough Times</a></em>.
Island Press, 2011, 1597269948.
</p>


<h2 id="L">L</h2>

<p id="Leitao2019" class="bib"><cite>Leitao2019</cite>
Roxanne Leit~ao:
"<a href="https://doi.org/10.1080/07370024.2019.1685883">Technology-Facilitated Intimate Partner Abuse: a qualitative analysis of data from online domestic abuse forums</a>".
<em>Human--Computer Interaction</em>, 2019,
<a class="doi" href="https://doi.org/10.1080/07370024.2019.1685883">10.1080/07370024.2019.1685883</a>.
</p>


<p id="Lin2020" class="bib"><cite>Lin2020</cite>
Sarah Lin, Ibraheem Ali, and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1008469">Ten Quick Tips for Making Things Findable</a>".
<em>PLoS Computational Biology</em>, 16(12), 2020,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1008469">10.1371/journal.pcbi.1008469</a>.
</p>


<h2 id="M">M</h2>

<p id="Majumder2019" class="bib"><cite>Majumder2019</cite>
Suvodeep Majumder, Joymallya Chakraborty, Amritanshu Agrawal, and Tim Menzies:
"<a href="http://arxiv.org/abs/1904.09954">Why Software Projects need Heroes: Lessons Learned from 1100+ Projects</a>".
<em>arxiv.org</em>, abs/1904.09954, 2019.
</p>


<p id="Manns2015" class="bib"><cite>Manns2015</cite>
Mary Lynn Manns and Linda Rising:
<em>Fearless Change: Patterns for Introducing New Ideas</em>.
Addison-Wesley, 2015, 978-0201741575.
</p>


<p id="McIntosh2021" class="bib"><cite>McIntosh2021</cite>
Lukas McIntosh and Caroline D. Hardin:
"<a href="https://doi.org/10.1145/3408877.3432435">Do Hackathon Projects Change the World? An Empirical Analysis of GitHub Repositories</a>".
<em>Proc. SIGCSE'21</em>, <a class="doi" href="https://doi.org/10.1145/3408877.3432435">10.1145/3408877.3432435</a>.
</p>


<p id="Meyer1994" class="bib"><cite>Meyer1994</cite>
Bertrand Meyer:
<em>Object-Oriented Software Construction</em>.
Prentice-Hall, 1994, 978-0136290490.
</p>


<p id="Miller1956" class="bib"><cite>Miller1956</cite>
George A. Miller:
"The Magical Number Seven, Plus or Minus Two: Some Limits on Our Capacity for Processing Information".
<em>Psychological Review</em>, 63(2), 1956,
<a class="doi" href="https://doi.org/10.1037/h0043158">10.1037/h0043158</a>.
</p>


<p id="Minahan1986" class="bib"><cite>Minahan1986</cite>
Anne Minahan:
"Martha's Rules".
<em>Affilia</em>, 1(2), 1986,
<a class="doi" href="https://doi.org/10.1177/088610998600100206">10.1177/088610998600100206</a>.
</p>


<h2 id="N">N</h2>

<p id="Nakshatri2016" class="bib"><cite>Nakshatri2016</cite>
Suman Nakshatri, Maithri Hegde, and Sahithi Thandra:
"<a href="https://doi.org/10.1145/2901739.2903499">Analysis of Exception Handling Patterns in Java Projects</a>".
<em>Proc. MSR'16</em>, <a class="doi" href="https://doi.org/10.1145/2901739.2903499">10.1145/2901739.2903499</a>.
</p>


<h2 id="O">O</h2>
<h2 id="P">P</h2>

<p id="Palomba2021" class="bib"><cite>Palomba2021</cite>
Fabio Palomba, Damian Andrew Tamburri, Francesca Arcelli Fontana, Rocco Oliveto, Andy Zaidman, and Alexander Serebrenik:
"<a href="https://doi.org/10.1109/tse.2018.2883603">Beyond Technical Aspects: How Do Community Smells Influence the Intensity of Code Smells?</a>".
<em>IEEE Transactions on Software Engineering</em>, 47(1), 2021,
<a class="doi" href="https://doi.org/10.1109/tse.2018.2883603">10.1109/tse.2018.2883603</a>.
</p>


<p id="Parnas1986" class="bib"><cite>Parnas1986</cite>
David Lorge Parnas and Paul C. Clements:
"A Rational Design Process: How and Why to Fake It".
<em>IEEE Transactions on Software Engineering</em>, SE-12(2), 1986,
<a class="doi" href="https://doi.org/10.1109/tse.1986.6312940">10.1109/tse.1986.6312940</a>.
</p>


<p id="Patitsas2016" class="bib"><cite>Patitsas2016</cite>
Elizabeth Patitsas, Jesse Berlin, Michelle Craig, and Steve Easterbrook:
"<a href="https://doi.org/10.1145/2960310.2960312">Evidence That Computer Science Grades are not Bimodal</a>".
<em>Proc. ICER'16</em>, <a class="doi" href="https://doi.org/10.1145/2960310.2960312">10.1145/2960310.2960312</a>.
</p>


<p id="Perri2018" class="bib"><cite>Perri2018</cite>
Melissa Perri:
<em>Escaping the Build Trap: How Effective Product Management Creates Real Value</em>.
O'Reilly, 2018, 978-1491973790.
</p>


<p id="Petre2013" class="bib"><cite>Petre2013</cite>
Marian Petre:
"UML in Practice".
<em>Proc. ICSE'13</em>, <a class="doi" href="https://doi.org/10.5555/2486788.2486883">10.5555/2486788.2486883</a>.
</p>


<p id="Petre2014" class="bib"><cite>Petre2014</cite>
Marian Petre and Greg Wilson:
"<a href="http://arxiv.org/abs/1407.5648">Code Review For and By Scientists</a>".
<em>Proc. Second Workshop on Sustainable Software for Science: Practice and Experience</em>, <a class="doi" href="https://doi.org/arXiv:1407.5648">arXiv:1407.5648</a>.
</p>


<p id="Prechelt2000" class="bib"><cite>Prechelt2000</cite>
Lutz Prechelt:
"An Empirical Comparison of Seven Programming Languages".
<em>IEEE Computer</em>, 33(10), 2000,
<a class="doi" href="https://doi.org/10.1109/2.876288">10.1109/2.876288</a>.
</p>


<h2 id="Q">Q</h2>
<h2 id="R">R</h2>
<h2 id="S">S</h2>

<p id="Scanlan1989" class="bib"><cite>Scanlan1989</cite>
David A. Scanlan:
"Structured Flowcharts Outperform Pseudocode: An Experimental Comparison".
<em>IEEE Software</em>, 6(5), 1989,
<a class="doi" href="https://doi.org/10.1109/52.35587">10.1109/52.35587</a>.
</p>


<p id="Schon1984" class="bib"><cite>Schon1984</cite>
Donald A. Schön:
<em>The Reflective Practitioner: How Professionals Think In Action</em>.
Basic Books, 1984, 978-0465068782.
</p>


<p id="Scott1987" class="bib"><cite>Scott1987</cite>
James C. Scott:
<em>Weapons of the Weak: Everyday Forms of Peasant Resistance</em>.
Yale University Press, 1987, 978-0300036411.
</p>


<p id="Sedano2017" class="bib"><cite>Sedano2017</cite>
Todd Sedano, Paul Ralph, and Cecile Peraire:
"<a href="https://doi.org/10.1109/icse.2017.20">Software development waste</a>".
<em>Proc. ICSE'17</em>, <a class="doi" href="https://doi.org/10.1109/icse.2017.20">10.1109/icse.2017.20</a>.
</p>


<p id="Sholler2019" class="bib"><cite>Sholler2019</cite>
Dan Sholler, Igor Steinmacher, Denae Ford, Mara Averick, Mike Hoye, and Greg Wilson:
"Ten Simple Rules for Helping Newcomers Become Contributors to Open Projects".
<em>PLoS Computational Biology</em>, 15(9), 2019,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1007296">10.1371/journal.pcbi.1007296</a>.
</p>


<p id="Shull2010" class="bib"><cite>Shull2010</cite>
Forrest Shull, Grigori Melnik, Burak Turhan, Lucas Layman, Madeline Diep, and Hakan Erdogmus:
"What Do We Know about Test-Driven Development?".
In 
Andy Oram and Greg Wilson (eds.):
<em>Making Software.</em>
O'Reilly, 2010, 978-0596808327.
</p>


<p id="Smalls2021" class="bib"><cite>Smalls2021</cite>
Danielle Smalls and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1008563">Ten Quick Tips for Staying Safe Online</a>".
<em>PLoS Computational Biology</em>, 17(3), 2021,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1008563">10.1371/journal.pcbi.1008563</a>.
</p>


<p id="Stanton2016" class="bib"><cite>Stanton2016</cite>
Brian Stanton, Mary F. Theofanos, Sandra Spickard Prettyman, and Susanne Furman:
"<a href="https://doi.org/10.1109/mitp.2016.84">Security Fatigue</a>".
<em>IT Professional</em>, 18(5), 2016,
<a class="doi" href="https://doi.org/10.1109/mitp.2016.84">10.1109/mitp.2016.84</a>.
</p>


<p id="Stefik2013" class="bib"><cite>Stefik2013</cite>
Andreas Stefik and Susanna Siebert:
"<a href="https://doi.org/10.1145/2534973">An Empirical Investigation Into Programming Language Syntax</a>".
<em>ACM Transactions on Computing Education</em>, 13(4), 2013,
<a class="doi" href="https://doi.org/10.1145/2534973">10.1145/2534973</a>.
</p>


<p id="Steinmacher2013" class="bib"><cite>Steinmacher2013</cite>
Igor Steinmacher, Igor Wiese, Ana Paula Chaves, and Marco Aurelio Gerosa:
"Why Do Newcomers Abandon Open Source Software Projects?".
<em>Proc. CHASE'13</em>, <a class="doi" href="https://doi.org/10.1109/chase.2013.6614728">10.1109/chase.2013.6614728</a>.
</p>


<p id="Steinmacher2015" class="bib"><cite>Steinmacher2015</cite>
Igor Steinmacher, Tayana Conte, Marco Aurélio Gerosa, and David Redmiles:
"<a href="https://doi.org/10.1145/2675133.2675215">Social Barriers Faced by Newcomers Placing Their First Contribution in Open Source Software Projects</a>".
<em>Proc. CSCW'15</em>, <a class="doi" href="https://doi.org/10.1145/2675133.2675215">10.1145/2675133.2675215</a>.
</p>


<h2 id="T">T</h2>

<p id="Taschuk2017" class="bib"><cite>Taschuk2017</cite>
Morgan Taschuk and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1005412">Ten Simple Rules for Making Research Software More Robust</a>".
<em>PLoS Computational Biology</em>, 13(4), 2017,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1005412">10.1371/journal.pcbi.1005412</a>.
</p>


<p id="Tichy2010" class="bib"><cite>Tichy2010</cite>
Walter Tichy:
"The Evidence for Design Patterns".
In 
Andy Oram and Greg Wilson (eds.):
<em>Making Software.</em>
O'Reilly, 2010, 978-0596808327.
</p>


<h2 id="U">U</h2>
<h2 id="V">V</h2>
<h2 id="W">W</h2>

<p id="Wenger1999" class="bib"><cite>Wenger1999</cite>
Etienne Wenger:
<em>Communities of Practice: Learning, Meaning, and Identity</em>.
Cambridge University Press, 1999, 978-0521663632.
</p>


<p id="Wessel2020" class="bib"><cite>Wessel2020</cite>
Mairieli Wessel, Alexander Serebrenik, Igor Wiese, Igor Steinmacher, and Marco A. Gerosa:
"<a href="https://doi.org/10.1109/icsme46990.2020.00011">Effects of Adopting Code Review Bots on Pull Requests to OSS Projects</a>".
<em>Proc. ICSME'20</em>, <a class="doi" href="https://doi.org/10.1109/icsme46990.2020.00011">10.1109/icsme46990.2020.00011</a>.
</p>


<p id="Wickham2017" class="bib"><cite>Wickham2017</cite>
Hadley Wickham and Garrett Grolemund:
<em>R for Data Science: Import, Tidy, Transform, Visualize, and Model Data</em>.
O'Reilly, 2017, 978-1491910399.
</p>


<p id="Wilkinson2016" class="bib"><cite>Wilkinson2016</cite>
Mark D. Wilkinson:
"The FAIR Guiding Principles for Scientific Data Management and Stewardship".
<em>Scientific Data</em>, 3, 2016.
</p>


<h2 id="X">X</h2>

<p id="Xu2015" class="bib"><cite>Xu2015</cite>
Tianyin Xu, Long Jin, Xuepeng Fan, Yuanyuan Zhou, Shankar Pasupathy, and Rukma Talwadker:
"<a href="https://doi.org/10.1145/2786805.2786852">Hey, You Have Given Me Too Many Knobs!: Understanding and Dealing With Over-Designed Configuration in System Software</a>".
<em>Proc. FSE'15</em>, <a class="doi" href="https://doi.org/10.1145/2786805.2786852">10.1145/2786805.2786852</a>.
</p>


<h2 id="Y">Y</h2>

<p id="Yuan2014" class="bib"><cite>Yuan2014</cite>
Ding Yuan, Yu Luo, Xin Zhuang, Guilherme Renna Rodrigues, Xu Zhao, Pranay U. Jain, and Michael Stumm:
"<a href="https://doi.org/10.13140/2.1.2044.2889">Simple Testing Can Prevent Most Critical Failures—An Analysis of Production Failures in Distributed Data-Intensive Systems</a>".
<em>Proc. OSDI'14</em>, <a class="doi" href="https://doi.org/10.13140/2.1.2044.2889">10.13140/2.1.2044.2889</a>.
</p>


<h2 id="Z">Z</h2>

<p id="Zhu2021" class="bib"><cite>Zhu2021</cite>
Wenhan Zhu and Michael W. Godfrey:
"<a href="https://doi.org/10.1109/msr52588.2021.00065">Mea Culpa: How Developers Fix Their Own Simple Bugs Differently from Other Developers</a>".
<em>Proc. MSR'21</em>, <a class="doi" href="https://doi.org/10.1109/msr52588.2021.00065">10.1109/msr52588.2021.00065</a>.
</p>


<p id="Zieris2020" class="bib"><cite>Zieris2020</cite>
Franz Zieris and Lutz Prechelt:
"<a href="https://doi.org/10.1145/3377811.3380925">Explaining Pair Programming Session Dynamics from Knowledge Gaps</a>".
<em>Proc. ICSE'20</em>, <a class="doi" href="https://doi.org/10.1145/3377811.3380925">10.1145/3377811.3380925</a>.
</p>


<h2 id="Z">Z</h2>
