---
layout: slides
---

class: subhead

## What problems are we trying to solve?

- Undesired side effects
  - "I edited the file reader and the plots all broke"
- Regression
  - "It's broken *again*?"
- Lengthy onboarding
  - "After six months, I was merely lost…"

---

## The most important thing

<div align="center">
  <h3>
    Computer scientists<br/>aren't taught how to design software
  </h3>
</div>

- The most design-intensive "engineering" discipline there is
- But courses where students analyze and critique others' programs are rare
- So no, you haven't missed something obvious

---

## 1. Design after the fact

- The most important thing is to *look* as though you designed things <cite>Parnas1986</cite>
- So that the next person can understand it
- Many designers explain architecture by recapitulating history <cite>Brown2011,Brown2012</cite>
- Challenge and response
  - Can only understand why it does what it does by understanding the problem it was designed to solve

---

## 1. Design after the fact

- [Refactoring](g#refactoring) is the process of reorganizing or rewriting code without changing behavior
  - By which we mean "high-level behavior" because of course if you look closely enough…
- <cite>Fowler2018</cite> describes common refactoring moves for code
- These do to code what tidying steps in a data pipeline do to data <cite>Wickham2017</cite>:
  move it toward well-understood forms <cite>Kerievsky2004</cite>

---

## 2. Design for people's cognitive capacity

- [Short-term memory](g#short-term-memory) vs. [long-term memory](g#long-term-memory)
- You can manage 7±2 things at a time <cite>Miller1956</cite>
- So design software to keep [cognitive load](g#cognitive-load) manageable

---

## 2. Design for people's cognitive capacity

- Brains use [chunking](g#chunking) to expand effective size of short-term memory
- So combine things into structures
- Before

```python
def enclose(x0, y0, z0, x1, y1, z1, nearness):
    …
```

- Better

```python
def enclose(p0, p1, nearness):
    …
```

---

## 2. Design for people's cognitive capacity

- Constants are easier to remember than varying values…
  - …unless those values vary in predictable ways
- Minimize number of parameters or variables in (mental) scope at any time
- Prefer [pipes](g#pipe) with left-to-right reading order over nested function calls

---

class: sidebar

## Comments

- Some people say that if you need to comment your code you should have written clearer code
- That is [expert blind spot](g#expert-blind-spot) at work
- Newcomers need help building a [mental model](g#mental-model) of the code and problem
- And everyone needs the "why" that code alone doesn't capture

---

## 3. Design in coherent levels

- Functions should be short, shallow, and single-purpose
  - Of course, no one would argue the opposite…
- If I read a function aloud, are all the steps at the same conceptual level?

```python
 def main():
     config = buildConfig(sys.argv)
     state = initState(config)
     while (config.currentTime < config.haltTime):
         updateState(config, state)
     report(config, state)
```

---

## 3. Design in coherent levels

- Functions should be short, shallow, and single-purpose
  - Of course, no one would argue the opposite…
- If I read a function aloud, are all the steps at the same conceptual level?

```python
 def main():
     config = buildConfig(sys.argv)
     state = initState(config)
*    while (config.currentTime < config.haltTime):
         updateState(config, state)
     report(config, state)
```

---

## 3. Design in coherent levels

- Functions should be short, shallow, and single-purpose
  - Of course, no one would argue the opposite…
- If I read a function aloud, are all the steps at the same conceptual level?

```python
 def main():
     config = buildConfig(sys.argv)
     state = initState(config)
*    while stillEvolving(config):
         updateState(config, state)
     report(config, state)
```

---

class: sidebar

## Plans and refutations

- <cite>Schon1984</cite> and others have found that
  experts jump between levels looking for concrete refutations of plans as soon as possible
- Depth-first design is therefore a good strategy *if* you write the hard parts first
  - Which most of us avoid

---

## 4. Design for evolution

- Software changes over time because the problem changes *and* because we learn more
  - The tool shapes the hand
- A good design makes independent evolution of parts easier
  - A fix *here* should not require changes *there*
  - Realistically, should only require a small number of changes in limited, predictable places
- The switch to `stillEvolving` in the previous slide insulates `main` from lower-level changes

---

## 4. Design for evolution

- Key ideas are [information hiding](g#information-hiding) and [loose coupling](g#loose-coupling)
- Which manifest as *interface vs. implementation*
  - Many of the more advanced features of programming languages exist to check this
- Examples
  - Deriving classes
  - Polymorphic functions
  - Explicit interfaces or traits

---

## 4. Design for evolution

- [Design by contract](g#design-by-contract) <cite>Meyer1994</cite> extends this idea through time
  - [Pre-conditions](g#pre-condition) have to be true in order for the function to run
  - [Post-conditions](g#post-condition) are what the function guarantees will be true when it completes
  - Can be used to define and verify tests

---

## 4. Design for evolution

- But wait, there's more
- Pre-conditions can only be *relaxed*
  - I.e., the function can take input the earlier implementation wouldn't
- Post-conditions can only be strengthened
  - I.e., the function can only produce a subset of the earlier implementation's output

---

## 5. Use common patterns

- Experts have [design patterns](g#design-pattern) in mind when building code
  - See <https://python-patterns.guide/> for a good catalog
- Learning them makes you a better programmer <cite>Tichy2010</cite>
- But also makes your code seem more familiar to others
- Examples include:
  - "Most valuable" variable <cite>Byckling2005</cite>
  - Nested `for` loops over 2D array
  - Filter-group-summarize

---

## 5. Use common patterns

- A near miss is worse than no pattern at all

```cpp
 for (i=0; i<a.width; i++) {
     for (j=0; i<a.height; j++) {
         a[i][j] = cos(abs(a[i][j]) - lemaitre(b_norm, a[j][i]))
     }
 }
```

---

## 5. Use common patterns

- A near miss is worse than no pattern at all

```cpp
 for (i=0; i<a.width; i++) {
*    for (j=0; i<a.height; j++) {
         a[i][j] = cos(abs(a[i][j]) - lemaitre(b_norm, a[j][i]))
     }
 }
```

- The eye (literally) doesn't see it

---

## 5. Use common patterns

- Balance of abstraction and comprehension depends on how much people know

{% include figure src="./comprehension.svg" alt="Comprehension" width="90%" %}

---

class: sidebar

## Signal to noise

- Maximize "what's unique to this operation / boilerplate"

```cpp
a = cos(abs(a) - lemaitre(b_norm, a.transpose()))
```

---

## 6. Design for delivery

- [Development operations](g#devops) (DevOps) has become a buzzword
  - Like "data science" or "computational thinking", the term is popular because people can use it to mean whatever they want
- But the core idea is a good one <cite>Kim2016,Forsgren2018</cite>
  - The code you ship is surrounded and supported by software (and practices) that deliver that code
- *Create packages*
- See [these guidelines](../robustness/) from <cite>Taschuk2017</cite>
- And [this lecture](../mechanics/)

---

## 6. Design for delivery

- Use a [logging](g#logging) library
  - Leave `print` statements in your program
  - But turn them on and off selectively
  - And send output to multiple destinations
  - So you can combine messages from several programs
- Use [`logging`](https://docs.python.org/3/library/logging.html) for Python
  and [`logger`](https://cran.r-project.org/web/packages/logging/index.html) for R

---

## 7. Design for testability

- [Legacy code](g#legacy-code): we're afraid to modify it because things will break unexpectedly <cite>Feathers2004</cite>
- Comprehensive tests make us less afraid
  - But we need testable pieces in order to create tests economically
- Testability is a good way to check the quality of your design
  - And to identify things that need to be refactored

---

## 7. Design for testability

1. How easy is it to create a [fixture](g#fixture)?
1. How easy is it to invoke just the behavior we want to test?
1. How easy is it to check the result?
1. How easy is it to figure out what "right" is?

---

class: sidebar

## Test-driven development

- [Test-driven development](g#tdd) (TDD) is the practice of writing the tests *before* writing the code
- Multiple studies have shown that it doesn't actually improve productivity
  <cite>Fucci2016</cite>
- But alternating rapidly between testing and coding seems to

---

## 8. Design as if code was data

- The insight on which modern computing is based
- Programs are just text files
  - Style-checking tools
  - Specially-formatted comments as embedded documentation
- But wait…

---

## 8. Design as if code was data

<div align="center">
  <h3>Code in memory is just another data structure</h3>
</div>

- Functions as arguments
- Functions in data structures
- [Dynamic loading](g#dynamic-loading)
  - Interface vs. implementation
- [Lazy evaluation](g#lazy-evaluation) in R
- [Decorators](g#decorator) in Python

---

class: sidebar

## Comprehension revisited

- But see the discussion earlier of comprehension curves
- What is powerful in the hands of experts is spooky action-at-a-distance for novices

---

## 9. Design graphically

- Very few programmers use [UML](g#uml) the "right" way <cite>Petre2013</cite>
- But almost all draw pictures to help them design <cite>Cherubini2007</cite>
- Blueprints versus brainstorming

---

## 9. Design graphically

- [Flowcharts](g#flowchart) are unfairly maligned <cite>Scanlan1989</cite>

{% include figure src="./flowchart.svg" alt="flowchart" width="40%" %}

---

## 9. Design graphically

- [Entity-relationship diagrams](g#er-diagram): widely used because they are actually helpful

{% include figure src="./er-diagram.svg" alt="Entity-relationship diagram" width="60%" %}

---

## 9. Design graphically

- [Concept map](g#concept-map)

{% include figure src="./concept-map.svg" alt="Concept-map" width="80%" %}

---

## 10. Design for everyone

- Privacy and security cannot be sprinkled on after the fact
- [Principle of Least Privilege](g#least-privilege)
  - What is the least information this part of the software absolutely needs to do its job?
- But:
  - If users have to reset passwords frequently, they will choose insecure passwords <cite>Smalls2021</cite>
  - Email attachments train people to be vulnerable to phishing attacks
  - Most social media isn't designed with abusive partners in mind

---

## 10. Design for everyone

- Accessibility can't be sprinkled on after the fact either
- Close your eyes and try to navigate your department's website
  - Or tape popsicle sticks to your fingers to simulate severe arthritis
- More important as the population ages <cite>Johnson2017</cite>

---

## Conclusion

- This is not art
- But it *is* beautiful

{% include figure src="./derosa.jpg" alt="bicycle" width="50%" %}

- I believe that data scientists can make bicycles too

---

class: exercise

## How testable is your code?

1. How easy is it to create a fixture?
1. How easy is it to invoke the behavior you want to test?
1. How easy is it to check the result?
1. How easy is it to figure out what "right" is?

---

class: exercise

## How do the parts fit together?

1. Draw the major components of your software.
1. Trace a typical operation through the diagram.
