---
layout: slides
---

## Research software

- Software is created and run to answer a question
- Papers, theses, and other reports are the product
- The software is "just" a tool
- Shades into projects that produce software for other researchers to use

---

## You

- Degree(s) in some research domain
- Little or no formal training in software development
- In a team of 1–12 people
- Timelines of weeks to months

{% include figure src="./dependency.png" alt="XKCD Dependency cartoon" width="40%" %}

---

## Me

- Don't remember much statistics…
- …but I've built a lot of complicated software…
- …and I've been lucky enough to hang out with some very smart people

<div align="center">
  <p>
    <img src="./beautiful-code.png" alt="Beautiful Code cover" />
    <img src="./aosa1.png" alt="AOSA vol 1 cover" />
    <img src="./aosa2.png" alt="AOSA vol 2 cover" />
  </p>
</div>

---

## Where we've been, where we're going

<table>
  <tr>
    <th>Then</th>
    <th>Now</th>
    <th>Next</th>
  </tr>
  <tr>
    <td>Dropbox</td>
    <td>Git repository</td>
    <td>Branching workflow</td>
  </tr>
  <tr>
    <td>"Just do it"</td>
    <td>Slack /<br/> mailing list</td>
    <td>Martha's Rules</td>
  </tr>
  <tr>
    <td>Interactive analysis</td>
    <td>A big pile of scripts</td>
    <td>Build tools /<br/> CI</td>
  </tr>
  <tr>
    <td>Word /<br/> Google Docs</td>
    <td>Notebooks</td>
    <td>Site builder</td>
  </tr>
  <tr>
    <td>"It doesn't crash"</td>
    <td>"Are there any NAs?"</td>
    <td>Assertions /<br/> unit tests</td>
  </tr>
  <tr>
    <td>"Um, hi?"</td>
    <td>README +<br/> LICENSE</td>
    <td>CONTRIBUTING +<br/> CoC</td>
  </tr>
</table>

---

## Acknowledgments

- Original workshop: Daniel Standage and Greg Wilson
- [*Producing Open Source Software*](https://producingoss.com): Karl Fogel
- *[Research Software Engineering with Python](https://merely-useful.tech/py-rse/)*: Christina Koch, Kate Hertweck, Damien Irving, Luke Johnston, Joel Ostblom, Charlotte Wickham, and Greg Wilson
- And everyone cited in [the bibliography](../bibliography/)

{% include figure src="./py-rse-cover.png" alt="Cover of 'Research Software Engineering with Python'" width="30%" %}

---

class: exercise

## How is your project currently run?

1. Who uses your software?
1. How do they find it?
1. Who decides what will happen next?
1. How is that communicated?
1. Who can make what kinds of changes?
1. What happens automatically?
1. How are newcomers brought on board?
