---
layout: slides
---

## What problems are we trying to solve?

- Scheduling
  - "What are we going to deliver when?"
- Hiring and firing
  - "It's getting pretty lonely around here…"

---

## Product manager vs. project manager

- The [product manager](g#product-manager) manages the feature list
  - What can't we do?
  - What hurts?
- The [project manager](g#project-manager) manages the schedule
  - Who is doing what?
  - When do we cut it and do something smaller?
- You are probably doing both…

---

## The build trap

- "Improving" doesn't always mean "adding features" <cite>Perri2018</cite>
- Most features are never used by most people

```
NAME
     ls -- list directory contents

SYNOPSIS
     ls [-ABCFGHLOPRSTUW@abcdefghiklmnopqrstuwx1%] [file ...]
```

---

## Prioritization

- Sticky notes on a whiteboard
- Lots of discussion

{% include figure src="./prioritization-creating.png" alt="Prioritization on a 3x3 grid" %}

---

## Prioritization

- Guarantee some successes
- Be willing to ignore some things
- "A schedule's purpose is to tell us how far behind we are and what to do about it"

{% include figure src="./prioritization-using.png" alt="Prioritization on a 3x3 grid" %}

---

## Hiring

- Different from [recruiting new contributors](../newcomers/)
  - Though what you do once someone is hired may be very similar
- People do lots of simple things wrong <cite>Behroozi2020</cite>
- Ask Human Resources for mentoring
- *Always post positions*
  - One person's "I know a guy" is another's "I wasn't even invited"

---

## 1. Legal requirements

- Every jurisdiction has rules about hiring people
- Institutions often have union agreements or contractual obligations
- Talk to someone in Human Resources before doing anything else
  - Even if you've gone through this before, because rules can change

---

## 2. Contact

- Pay attention to details
  - Do they have or need work authorization?
  - Are they willing to relocate?
  - Do they actually have the right skills for this job?
  - [Starling Software](http://www.starling-software.com/employment/programmer-competency-matrix.html) is a good model
- Responsiveness
  - Acknowledge all communication
  - Give them timelines (and updates when timelines change)

---

## 3. Preparation

- Interview scheduling
  - Use [Calendly](https://calendly.com/) or a similar service
  - If you have to reschedule, give candidates several days' notice
  - If you have to reschedule twice, you're telling them you don't want them
- Hiring criteria
  - Describe the process and the kinds of questions they'll be asked
  - [Automattic](https://automattic.com/work-with-us/how-we-hire-developers/) is a good model

---

## 4. Interviews

- Make sure interviewers stick to the advertised process
  - Role-play a practice interview if you can
- Interviewers' knowledge
  - If you don't know enough to judge the candidate, find someone who can
- Make sure they're paying attention (rather than answering email)

---

## 5. Hearing back

- Status updates
  - Give candidates a timeline and regular updates
  - Don't try to hide the fact that you're interviewing other people
- Give feedback
  - "You're on the right track, but need to have done more with AWS and Kubernetes"
- People aren't always grateful for feedback
  - So it's best to do by email

---

## 6. Offer and negotiation

- Please consult Human Resources
- You *did* publish a salary band, right?

---

## Firing

- Sometimes people have good reasons for poor performance
- Sometimes they don't
- This is the hardest part of leading a project
- But keeping someone on the team who shouldn't be there is bad for morale as well as productivity

---

## 1. Legal requirements

- Every jurisdiction has rules about firing people, too
- Again, talk to someone in Human Resources before doing anything else

---

## 1. "Legal" requirements

- [Governance](../governance/) of every well-run open project spells out:
  - Criteria for being a project member
  - Who gets to decide when that privilege is revoked
- *You can't wait until you need these to write them*
- Review them before going any further

---

## 2. Check with someone

- Hard to work with someone you dislike
  - But not liking someone isn't sufficient reason to fire them
- Talk to someone outside the project
  - More likely to be objective
  - Less likely to let something slip
  - Less likely to feel pressured to take your side because you're the boss

---

## 3. Create a transition plan

- It's awkward to fire the only person who knows the password to the production server
  - And risky as well
- Suddenly asking someone to document their work is a give-away
- Better to ask everyone to do it all the time
  - Which helps keep roles and responsibilities up to date

---

## 3. Create a transition plan

- Write out the steps you'll take immediately after breaking the news
  - Change passwords on servers
  - Remove from GitHub group
  - Remove from mailing list
  - Return loaned hardware
- All of this needs to be done when someone leaves voluntarily
  - And helps you realize just how much "stuff" your project has

---

## 4. Make sure it's not a surprise

- If someone is surprised they're being fired, *you* have made a mistake
- If it's for poor behavior:
  - They should know what's in the [Code of Conduct](../conduct/)
  - And you should have given them warnings for minor violations
- If it's for poor performance:
  - You should have told them that they weren't meeting expectations…
  - …given them a chance to explain…
  - …and given them an opportunity to improve
- You will feel pretty bad if they've been missing deadlines because of a family illness

---

## 5. Delivery

- Write out what you're going to say
  - Keep it short
- Practice it a few times
- Then get straight to the point
- Don't get drawn into discussion of "what if"
- Stick to the practical matters you identified in the transition plan

---

## 6. Tell the team

- Make sure the team hears the news from you
  - Before rumors start to circulate
- Keep statement brief and to the point
- Do *not* discuss details
  - The person you fired has a right to privacy
  - And you don't want other team members worrying that you'll say something about them some day

---

## 7. Keep a record of all communication

- It's hard for people to think clearly when you're angry or hurt
  - And they may not act in good faith
- Communicate by email
- If they insist on a call:
  - Ask to record it and give them permission to do the same
  - Or have a third party present

---

## 8. Remember that it's OK to cry

- Because we all do.

---

class: exercise

## Priorities

1. What are the three most important tasks for your project right now?
1. What are the three that are going to get the most time this week?

---

class: exercise

## Lottery factor

1. What do you know how to do on the project that no one else knows?
1. What *don't* you know how to do that someone else does?

---

class: exercise

## Permission

1. Whose permission do you need to hire or fire someone?
1. Or (for open source projects) to give someone commit permission or take it away?

---

class: exercise

## Fire yourself

1. Write three or four sentences to tell yourself you've been fired.
1. Trade with someone else and give each other the bad news.
