/* Flex grid */
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%
}
.row > * {
    flex: 1; /* allow children to grow when space available */
}

.col-1 { flex-basis: 8.33%; }
.col-2 { flex-basis: 16.66%; }
.col-3 { flex-basis: 25%; }
.col-4 { flex-basis: 33.33%; }
.col-5 { flex-basis: 41.66%; }
.col-6 { flex-basis: 50%; }
.col-7 { flex-basis: 58.33%; }
.col-8 { flex-basis: 66.66%; }
.col-9 { flex-basis: 75%; }
.col-10 { flex-basis: 83.33%; }
.col-11 { flex-basis: 91.66%; }
.col-12 { flex-basis: 100%; }

/* Generic text alignment */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

/* Exercise blocks */
div.exercise {
    background-color: #f1f1f1;
    padding-left: 1em;
    padding-right: 0.8em;
}

/* Display exercise titles */
div.exercise h3 {
    font-size: 1.5em;
}

/* Definition terms in bold */
dt {
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 4px;
    border-top: 2px solid #1d7484;
    text-align: center;
}

/* Page titles */
h1 {
    text-align: center;
}

/* Border on nav */
nav {
    border-bottom: 2px solid #1d7484;
}

/* Tag lines for sections */
p.tagline {
    text-align: center;
    font-style: italic;
}

/* Table with cell borders */
table.bordered td {
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
}

/* Undo bottom padding on lists */
ol, ul {
    margin-bottom: 0px;
}

li {
    margin-bottom: 0px;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #1d7484;
    border-radius: 4px;
}

.dropdown-content a {
    color: #4a4a4a;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f1f1f1;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #1d7484;
}

.dropdown:hover .dropdown-content {
    display: block;
}
